body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #69C25D;
    color: white;
    padding: 11px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 21px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(201px, 1fr));
    gap: 11px;
    padding: 21px;
}

.grid-item {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 21px;
    text-align: center;
}

section {
    padding: 21px;
    flex-grow: 1;
}

footer {
    background-color: #395978; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
}

@media (max-width: 600px) {
    header {
        font-size: 18px;
        padding: 8px 0;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
        margin-right: 0;
    }

    .grid-container {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .grid-item {
        padding: 15px;
        font-size: 14px;
    }

    footer {
        font-size: 14px; 
        padding: 8px 0; 
    }
}
